# Ignore model files
*.model*

# Ignore stored experiences
*.pickle

# Ignore decisions directory
decisions/

# intelliJ files
.idea
.metadata

# Eclipse
*/.classpath
*/.project
.settings

# Java compiled classes
bin
